.user-pane {
  display: flex;
  flex-direction: row;
}

.spot-results {
  display: flex;
  justify-content: space-between;
}

.left-half-results {
  flex-grow: 1;
  flex-basis: 0;
}

.right-half-results {
  flex-grow: 1;
  flex-basis: 0;
}

SpotMap {
  position: fixed;
}

.spot-index-item img {
  width: 100%;
  height: 200px;
}

.spot-index-item {
  width: 95%;
  height: 250px;
  padding: 10px;
  padding-left: 0px;
}

.index-item-price {
  font-size: 12px;
}

.spot-index-item .index-item-description {
  color: #484848;
  text-overflow: ellipsis;
  // max-height: 1.8em;
  // line-height: 1.8em;
  overflow: hidden;
  max-width: 180px;
  white-space: nowrap;
  display: inline-block;
}
