.user-pane {
  display: flex;
  flex-direction: row;
}

.spot-results {
  margin-top: 78px;
  display: flex;
  justify-content: space-between;
}

.left-half-results {
  flex-grow: 1;
  flex-basis: 0;
}

.right-half-results {
  flex-grow: 1;
  flex-basis: 0;
}

// SpotMap {
//   position: fixed;
// }

.img-container {

}

.img-container img {

  width: 20vw;
  height: 20vw;
  object-fit: cover;

  // height: 200px;
  // padding-top: 75%;
  // object-fit: cover;

  // position: relative;
  // float: left;
  // width:  100%;
  // height: 100%;
  // background-position: 50% 50%;
  // background-repeat:   no-repeat;
  // background-size:     cover;
}


.spot-index-item {
  width: 20vw;
  height: 27vw;
  padding: 10px;
  padding-left: 0px;
}

.index-item-price {
  font-size: 12px;
  top: -8px;
  position: relative;
}

.spot-index-item .index-item-description {
  width: 180px;
  font-weight: 700;
  color: #484848;
  font-family: Circular;
  margin: 0px;
  word-wrap: break-word;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.2px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
