/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*.testStyles {
   float: right;
 }*/
 /*@import "font-awesome-sprockets";
 @import "font-awesome";*/
//imports on bottom

.Header {
  color: #ff5a5f;
  width: 550px;
  margin-top: 70px;
  line-height: .65em;
}

.inner-header {
  color: black;
  font-weight: 200;
}

.line-two {
  margin-top: -1.17%;
  color: black;
  font-weight: 200;
}

.logo {
  border-radius: 25px;
  margin-top: 0px;
  margin-left: 10px;
  z-index: 10;
}

input {
  border-radius: 2px;
  border: 1px solid #aaa;
}

Link {
  text-decoration: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

 html {
   font-family: sans-serif;
 }

 img {
   cursor: pointer;
 }

 button {
   cursor: pointer;
   text-decoration: none;
   border: 1px solid;
 }

 button:focus {outline:0;}

 ul {list-style: none; padding-left: 0;}

 header {
   font-size: 14px;
  //  position: fixed;
   top: 0;
   right: 0;
   background-color: white;
   z-index: 5;
   width: 100%;
   display: inherit;
 }

#left-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

 .top {
  padding-top: 10px;
  padding-bottom: 24px;
  top: 0;
  z-index: 10;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: white;
 }

/*### MAP ###*/

.right-half .map {
  position: fixed !important;
  height: 89%;
  width: 58%;
  border-top: 2px solid #ededed;
  z-index: 11;
  top: 85px;
}
.left-half {
  margin-top: 77px;
}

.right-half {
  float: right;
}

// @media (max-width: 40em) {
// .map {
// display: none;
// }
// }

@import 'session.scss';
// @import "spots/spots.scss";
@import "spots/*";
@import "rc-slider.scss";
@import "rc-switch.scss";
@import "filters.scss";
@import "bookings.scss";
