/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*.testStyles {
   float: right;
 }*/
 /*@import "font-awesome-sprockets";
 @import "font-awesome";*/
.Header {
  color: #ff5a5f;
  width: 550px;
}

.inner-header {
  color: black;
  font-weight: 200;
}

.logo {
  border-radius: 25px;
}

Link {
  text-decoration: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

 html {
   font-family: sans-serif;
 }

 button {
   cursor: pointer;
   text-decoration: none;
 }

.login-signup {
  position: fixed;
  top: 20px;
  right: 0;
}

.login-signup-btn {
  font-family: sans-serif;
  cursor: pointer;
  font-size: 15px;
  color: #4a4a4a;
  margin-left: 5px;
  margin-right: 15px;
  /*background: none;
  border: none;*/
}

.login-signup-btn:hover {
  text-decoration: underline;
}

/*### SIGN UP MODAL ###*/
.ReactModal__Content {
  text-align: center;
  border-radius: 2px !important;
}

.guest-login {
  /*background: -webkit-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet);
  background: -o-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet);
  background: -moz-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet);
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  color: white;
  text-shadow: -1px -1px 0 #000, -1px -1px 0 #000, -1px -1px 0 #000, -1px -1px 0 #000;*/
  border-radius: 3px;
  height: 30px;
  width: 100px;
  font-size: 11px;
  background-color: #ff7e82;
  border-color: #ff7e82;
  font-family: sans-serif;
  color: white;
  margin-top: 5px;
  /*border: none;*/
}

.login-input {
  width: 100%;
  height: 30px;
  font-family: sans-serif;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 268px;
  margin-bottom: 5px;
}

.login-input::selection {
  border-color: blue;
}

.login-input[type=email] {
  background-image: url(https://image.flaticon.com/icons/png/128/20/20061.png);
}
.login-input[type=text] {
  background-image: url(http://www.iconninja.com/files/739/235/684/user-icon.png);
}
.login-input[type=password] {
  background-image: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698959-icon-114-lock-128.png);
}
.errors-list{
  list-style: none;
}

.submit-login {
  height: 40px;
  width: 100%;
  background-color: #ff7e82;
  border-color: #ff7e82;
  border-radius: 3px;
  margin-top: 5px;
  color: white;
  cursor: pointer;
}

.alt-sign-in-option {
  float: left;
  font-size: 14px;
  margin-top: 15px;
}

.lower-login-btn {
  margin-top: 10px;
  float: right;
  background-color: white;
  border-color: #ff5a5f;
  color: #ff5a5f;
  border-radius: 3px;
  height: 26px;
  width: 60px;
}

 /*navBar {
   float: right;
 }*/

 /*.navBar {
   margin-left: 10px;
   text-decoration: none;
   font-size: 12px;
   color: grey;
   font-family: sans-serif;

 }*/
/*
 .navBar:hover{
   text-decoration: underline;
 }*/
