.booking-form {
  border: 1px solid #dce0e0;
  top: -300px;
  position: relative;
  float: right;
  right: 100px;
  padding: 10px;
  text-align: center;
}

.booking-form input {
  display: inherit;
}

#booking-submit {
  left: 10%;
  position: relative;
  margin-bottom: 5px;
}
