.booking-form {
  border: 1px solid #dce0e0;
  top: -300px;
  position: relative;
  float: right;
  right: 100px;
  padding: 10px;
  text-align: center;
}

.booking-form input {
  display: inherit;
}

.booking-index-item .spot-index-item {
  width: 10%;
  height: 10%;
}

.booking-index-item .index-item-info
.index-item-price,
.index-item-privacy,
.index-item-rating {
  display: none;
}

.booking-index-item-info {
  margin-top: -25px;
  margin-bottom: 25px;
}

.booking-index-item img {
  width: 100%;
  height: 100%;
}

#booking-submit {
  left: 10%;
  position: relative;
  margin-bottom: 5px;
}
