// .price-filter::selection {
//   visibility: hidden;
// }
.filter-form {
  border-top: 2px solid #ededed;
}

.filter-form button {
  background: white;
  border: none;
  border-radius: 2px;
}

.filter-form button:hover {
  background: #e9e9e9;
}

.filter-form button::selection {
  border-color: none !important;
}

#pac-input {
  z-index: 10 !important;
  //left: 86px !important;
  //top: 23px !important;
  margin-left: 12px;
  font-size: 14px;
  padding: 8px 0px 8px 30px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-y: 5.3px;
  background-position-x: 2px;
  background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-128.png');
}

#pac-input::selection {
}

// #privacy-container {
//   position: relative;
// }

// #switch-wrapper {
//   left: 33%;
// }

.rc-switch {
  // position: relative;
  left: 8vw;
}

#popUp {
  top: -20px;
  left: 215px;
  position: relative;
}
