// .price-filter::selection {
//   visibility: hidden;
// }
.filter-form {
  border-top: 2px solid #ededed;
    width: 42vw;
    position: fixed;
    z-index: 10;
    background: white;
    padding-bottom: 20px;
}

.filter-form button {
  cursor: pointer;
  display: inline-block;
  height: 32px;
  color: rgb(118, 118, 118);
  position: relative;
  vertical-align: top;
  font-family: Circular;
  font-size: 15px;
  line-height: 32px;
  letter-spacing: 0.2px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 8px;
  background: none;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-right: none;
  border-radius: 4px;
}

.filter-form button:hover {
  background-color: #F2F2F2;
}

.iconWrapper {
    font-size: 8px;
    color: #00514A;
    display: inline-block;
    vertical-align: middle;
    padding-left: 8px;
}

.svg {
    display: block;
    fill: currentColor;
    height: 1em;
    width: 1em;
}

.path {
    fill-rule: evenodd;
    d: path('M16.291 4.295a1 1 0 1 1 1.414 1.415l-8 7.995a1 1 0 0 1-1.414 0l-8-7.995a1 1 0 1 1 1.414-1.415l7.293 7.29 7.293-7.29z');
}

.filter-form button::selection {
  border-color: none !important;
}

.controls {
  z-index: 10 !important;
  //left: 86px !important;
  //top: 23px !important;
  margin-left: 12px;
  font-size: 14px;
  padding: 8px 0px 8px 30px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-y: 5.3px;
  background-position-x: 2px;
  background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-128.png');
}

#available-times {
  background-image: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-calendar-outline-512.png');
}

#available-times:hover {
  cursor: pointer;
}

// #pac-input::selection {
// }

// #privacy-container {
//   position: relative;
// }

// #switch-wrapper {
//   left: 33%;
// }

.rc-switch {
  // position: relative;
  left: 8vw;
}

#popUp {
  top: -20px;
  left: 215px;
  position: relative;
}
